.heading-1 {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.heading-2 {
    font-size: 1.8rem;
}

.center {
    text-align: center;
}

.btn {
    cursor: pointer;
    justify-self: center;
    padding: 1.5rem 3rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--color-primary-alpha);
    transition: all .3s;

    &:hover {
        background-color: var(--color-primary); 
    }

    &:active {
        transform: translateY(.2rem);
    }

    &-delete {
        margin-left: 1.5rem;
        background-color: rgb(251, 32, 32);

        &:hover {
            background-color: rgb(223, 0, 0);
        }
    }

    &-modal {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}

.arrow {
    position: absolute;
    left: 5rem;
    top: 1.7rem;
    font-size: 4rem;
    color: var(--color-primary);
    cursor: pointer;
    transition: all .2s;

    &:hover {
        transform: translateY(.1rem);
    }
}